<div class="row">
							
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot.svg" height="80" width="80">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-1.svg" height="80" width="80">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-2.svg" height="80" width="80">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-3.svg" height="80" width="80">
								</div>
							</div>

						</div>
						<div class="row">
							
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-4.svg" height="80" width="80">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-5.svg" height="80" width="80">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-6.svg" height="80" width="80">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-7.svg" height="80" width="80">
								</div>
							</div>

						</div>
						<div class="row">
							
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-8.svg" height="80" width="80">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-9.svg" height="80" width="80">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-10.svg" height="80" width="80">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-11.svg" height="80" width="80">
								</div>
							</div>

						</div>
						<div class="row">
							
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-12.svg" height="80" width="80">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-13.svg" height="80" width="80">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-14.svg" height="80" width="80">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-15.svg" height="80" width="80">
								</div>
							</div>

						</div>
						<div class="row">
							
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-16.svg" height="80" width="80">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-17.svg" height="80" width="80">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-18.svg" height="80" width="80">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-19.svg" height="80" width="80">
								</div>
							</div>

						</div>
						<div class="row">
							
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-20.svg" height="80" width="80">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-21.svg" height="80" width="80">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-22.svg" height="80" width="80">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-23.svg" height="80" width="80">
								</div>
							</div>

						</div>
						<div class="row">
							
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-24.svg" height="80" width="80">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-25.svg" height="80" width="80">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-26.svg" height="80" width="80">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-27.svg" height="80" width="80">
								</div>
							</div>

						</div>
						<div class="row">
							
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-28.svg" height="80" width="80">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="card">
									<img src="/assets/robots/robot-29.svg" height="80" width="80">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="card">
								&nbsp;
								</div>
							</div>
							<div class="col-lg-3">
								<div class="card">
								&nbsp;
								</div>
							</div>

						</div>